<form style="margin-top: 70px;"  action="twitter/post_tweet" method="post" name="tibit" id="twitter_form">
  <fieldset>
    <textarea name="comment" cols="" rows="2" class="expand50-100" style="width:100%;"></textarea>
    <button type="submit" class="btn pull-right">Tweet</button>
  </fieldset>
</form>
<div class="row"><p class="loading" style="text-align: center;">Loading Tweets. Please wait.</p></div>
<button type="button" class="btn btn-primary more-tweets" data-loading-text="Loading..." style="width: 100%;">See more tweets</button>
