<% if @authorization_url %>
    <script type="text/javascript">
        function authorize(){
            var popup = window.open("", "TwitterAuthorization", "width=1000,height=500,menubar=no,resizable=no,titlebar=no");
            popup.location.href = "<%= @authorization_url %>";
        }
    </script>

    <div class="app-container clearfix">
      <div id="header">
        <p id="login-panel" class="" style="text-align: center;">Please <a href="#" class="login" onclick="authorize()"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" title="Sign in with Twitter"></a> with your twitter account</p>
      </div>
    </div>
<% elsif @error %>
    <div class="app-container clearfix">
      <div id="header">
        <p id="login-panel" class=""><%= @error %></p>
      </div>
    </div>
<% else %>
    <script type="text/javascript">
        window.opener.location.href = "http://localhost:3000/twitter";
        window.close();
    </script>
<% end %>